html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.container {
  margin: 0px auto;
  padding: 30px;

  width: 1000px;

  border: 1px solid darkgray;
}

#name-country-input {
  padding: 5px;
  width: 100%;
  font-size: 20px;
}

a {
  font-size: 1.5em;
  font-weight: 500;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

.country-description {
  display: flex;
  align-items: center;
}

.description-label {
  font-size: 1.5em;
  font-weight: 700;
}

.description-item {
   margin: 20px 0px;

   font-size: 1.3em;
 }

.languages-item {
   margin: 5px;
   font-size: 1.3em;
 }

.flag-container {
  margin-left: auto;
  border: 1px solid darkgray;
}

.country-flag-img {
  display: block;
  width: 500px;
}

.contries-list-item {
  margin: 10px 0px;
}


